@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #f4f5f5;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container-default{
    width: 1300px;
    margin-left: auto;
    margin-right: auto; 

}

.navbar-link li a {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100px;
    display: inline-block;
    color: #9b9ba5;
    text-align: center;
}

.navbar-link li {
    display: inline;
}

.navbar-link li a:hover{
    background-color: #ec7869;
    color: #fef9f8;
}

.font-icons{
    color: #6f6c80;
}